<h2>Uploads</h2>

<div *ngFor="let item of itemService.approveList">
  <ul>
    <li>
      <div><a [routerLink] ="['/item-details', item.itemId]">{{item.itemName}}</a></div>
      <div><a [routerLink] ="['/item-details', item.itemId]">{{item.itemId}}</a></div>
      <!-- <span>
        Price: {{orderService.sumPrice()}}
        Price: {{orderService.sumPrice(order)}} </span>
        <div>Date: {{order.date | date: 'y MMM d, HH:mm:ss'}} </div>
        <div><button (click)="removeOrder(order.id)">
          done
        </button></div> -->
      </li>
  </ul>
</div>
<button [routerLink] = "['/home']">back</button> 