
<div>
  <H1 class="header-img">SustainableCommunity</H1>
</div>
<!-- <nav id="toCartNav" *ngIf="userService.loggedin">

  <div> -->
   <!-- <button routerLink="/cart" *ngIf="userService.isUserCustomer()">Cart</button>
    <button routerLink="/orderList" *ngIf="userService.isUserCartManager()">OrderList</button>
    <button routerLink="/userList" *ngIf="userService.isUserAdmin()">UserList</button> -->
    <!-- <button routerLink="/login" (click)="logOut()">Log out</button>
  </div>

</nav> -->

<router-outlet></router-outlet>